<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean class="in.TodayLearning.beans.Address" id="addrId">
        
             <constructor-arg value="500"></constructor-arg>
             <constructor-arg value="Jalgoan"></constructor-arg>
             <constructor-arg value="9090"></constructor-arg>
    
    </bean>
    
    
    
    <bean class="in.TodayLearning.beans.Student" id="stdId">
             <constructor-arg value="Akash"></constructor-arg>
             <constructor-arg value="01"></constructor-arg>
             <constructor-arg ref="addrId"></constructor-arg>     
    
    </bean>

</beans>